{:name app.states, :doc nil, :excludes #{}, :use-macros {defc javelin.core, defc= javelin.core}, :require-macros {javelin.core javelin.core}, :uses nil, :requires {javelin.core javelin.core}, :imports nil, :defs {show-sidebar? {:name app.states/show-sidebar?, :file "/home/thang/.boot/cache/tmp/home/thang/Projects/frontend/mq7/-grrwi1/app/states.cljs", :line 4, :column 1, :end-line 4, :end-column 20, :meta {:file "/home/thang/.boot/cache/tmp/home/thang/Projects/frontend/mq7/-grrwi1/app/states.cljs", :line 4, :column 7, :end-line 4, :end-column 20}}}}