/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_4179a97e3e5e1ce474d5cd57c3c047d0.eot");
  src: url("./fontcustom_4179a97e3e5e1ce474d5cd57c3c047d0.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_4179a97e3e5e1ce474d5cd57c3c047d0.woff") format("woff"),
       url("./fontcustom_4179a97e3e5e1ce474d5cd57c3c047d0.ttf") format("truetype"),
       url("./fontcustom_4179a97e3e5e1ce474d5cd57c3c047d0.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_4179a97e3e5e1ce474d5cd57c3c047d0.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-clock:before,
.icon-cloud-sync:before,
.icon-draw:before,
.icon-facebook:before,
.icon-menu:before,
.icon-minus-sign-inside-a-black-circle:before,
.icon-news:before,
.icon-portfolio:before,
.icon-profile:before,
.icon-sent-mail:before,
.icon-settings:before,
.icon-sign-in:before,
.icon-stocks:before,
.icon-time:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f100"; }
.icon-clock:before { content: "\f101"; }
.icon-cloud-sync:before { content: "\f102"; }
.icon-draw:before { content: "\f103"; }
.icon-facebook:before { content: "\f104"; }
.icon-menu:before { content: "\f105"; }
.icon-minus-sign-inside-a-black-circle:before { content: "\f106"; }
.icon-news:before { content: "\f107"; }
.icon-portfolio:before { content: "\f108"; }
.icon-profile:before { content: "\f109"; }
.icon-sent-mail:before { content: "\f10a"; }
.icon-settings:before { content: "\f10b"; }
.icon-sign-in:before { content: "\f10c"; }
.icon-stocks:before { content: "\f10d"; }
.icon-time:before { content: "\f10e"; }
